@charset "UTF-8";
/* CSS Document */
@import url('../font-face/stylesheet.css');
body {
  font-family: 'Graphik', sans-serif;
  line-height: 1.3;
}
h1 {
  font-size: 45px;
  color: white;
  margin-bottom: 70px;
  line-height: 1.2;
}
h1 span {
  color: #02b400;
  display: block;
  font-size: 50px;
  text-shadow: 1px -1px 1px #02b400, 1px -1px 1px #02b400;
}
h2 {
  color: white;
  font-size: 32px;
  position: relative;
  text-align: center;
  padding: 0 0 15px;
}
h2:before {
  content: "";
  position: absolute;
  width: 70px;
  border: solid 1px #02b400;
  bottom: 0;
  left: calc(50% - 35px);
}
/*Contenedor fluído reformado a resolución promedio de escritorio según Globalstats*/
.container-fluid2 {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
/*Características generales de las secciones*/
[id*=-soho] {
  background: #273238;
}
[id*=-soho] p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 1.5;
  max-width: 900px;
  margin: 0 auto;
}
/*Botones*/
[class*=-boton] {
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 13px;
  border-radius: 3px;
  letter-spacing: 1px;
}
[class*=principal-boton], [class*=principal-boton]:hover {
  background: #02b400;
  color: white;
  text-decoration: none;
}
.principal-boton-head {
  padding: 25px 45px;
}
.principal-borde-boton, .principal-borde-boton:hover {
  border: 1px solid #02b400;
  color: #02b400;
  text-decoration: none;
}
/*-----------------------
HERO SECTION
-------------------------*/
#hero {
  background: url("../img/header-bkg.jpg") no-repeat bottom center;
  height: 100vh;
  text-align: center;
}
/*Menú*/
#collapsibleNavbar .navbar-nav {
  max-width: 900px;
}
#collapsibleNavbar .navbar-nav li {
  position: relative;
  margin-right: 30px;
}
#collapsibleNavbar .navbar-nav li.active {
  border-bottom: 3px solid #02B400;
}
#collapsibleNavbar .navbar-nav li a {
  color: white;
  padding-left: 0;
  padding-right: 0;
}
.navbar-dark .navbar-toggler {
  color: #1cbc25;
  border-color: rgba(255, 255, 255, 0);
}
.navbar-dark .navbar-toggler-icon {
  background: url("../img/menu.svg") no-repeat center center;
  background-size: contain;
}
#hero-mensaje {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-65%);
  left: 50%;
}
/*En directo*/
#directo {
  background: black;
  color: white;
  padding: 40px 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-items: flex-end;
}
#directo .container-fluid {
  max-width: 1350px;
  padding: 0 20px;
}
#directo p {
  background: url("../img/transmision.svg") left top no-repeat;
  background-size: 45px 20px;
  margin-bottom: 0;
  font-size: 14px;
  padding-left: 45px;
  text-align: left;
}
/*-----------------------
SERVICIOS
-------------------------*/
#servicios-soho {
  padding: 60px 0 0 0;
  color: white;
  text-align: center;
}
#servicios-soho h2 {
  margin-bottom: 30px;
}
#servicios-soho h3 {
  color: #02b400;
  font-size: 25px;
}
#servicios-soho .servicio {
  padding: 100px 50px;
  margin: 50px 0 0 0;
}
#servicios-soho .servicio:nth-child(1) {
  background: #3a4149;
}
#servicios-soho .servicio:nth-child(2) {
  background: #171b24;
}
#servicios-soho .servicio:nth-child(3) {
  background: #202a36;
}
/*-----------------------
PROYECTOS DESTACADOS
-------------------------*/
#proyectos-destacados-soho {
  padding: 120px 0 0 0;
  color: white;
}
#proyectos-destacados-soho p {
  text-align: left;
}
#proyectos-destacados-soho h2 {
  margin-bottom: 30px;
}
#proyectos-destacados-soho .proyecto {
  color: white;
  display: flex;
  align-items: center;
  padding: 60px 0 0 0;
}
#proyectos-destacados-soho .imagen-grande {
  width: 55%;
}
#proyectos-destacados-soho .proyecto-info {
  width: 35%;
}
#proyectos-destacados-soho .proyecto-info .imagen {
  position: relative;
  display: block;
  width: auto;
  margin-bottom: 20px;
}
#proyectos-destacados-soho .proyecto-info .imagen img {
  margin-bottom: 10px;
}
#proyectos-destacados-soho .proyecto-info .imagen:before {
  content: "";
  position: absolute;
  width: 60px;
  border-bottom: solid white 3px;
  bottom: 0;
  left: 0;
}
#proyectos-destacados-soho .proyecto-info p.etiquetas {
  background: url("../img/etiqueta.svg") no-repeat center left;
  background-size: 20px 15px;
  padding: 10px 0 20px 30px;
}
#proyectos-destacados-soho .proyecto-info p.etiquetas a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-decoration: underline;
  margin-right: 15px;
}
#proyectos-destacados-soho .proyecto-info a.principal-boton {
  margin: 10px 0 0;
  display: inline-block;
}
/*Proyecto 1*/
#proyectos-destacados-soho .proyecto1 {
  background-color: #233B85;
  margin-top: 50px;
}
#proyectos-destacados-soho .proyecto1 a.principal-boton {
  background-color: white;
  color: #233B85;
  font-weight: bold;
}
#proyectos-destacados-soho .proyecto1 .proyecto-info {
  margin-left: 5%;
}
/*Proyecto 2*/
#proyectos-destacados-soho .proyecto2 {
  background-color: #c92d3b;
}
#proyectos-destacados-soho .proyecto2 a.principal-boton {
  background-color: white;
  color: #c92d3b;
  font-weight: bold;
}
#proyectos-destacados-soho .proyecto2 .proyecto-info {
  margin-left: 5%;
  margin-right: 5%;
}
/*Proyecto 3*/
#proyectos-destacados-soho .proyecto3 {
  background-color: white;
}
#proyectos-destacados-soho .proyecto3 h3, #proyectos-destacados-soho .proyecto3 p, #proyectos-destacados-soho .proyecto3 p.etiquetas a {
  color: #666;
}
#proyectos-destacados-soho .proyecto3 a.principal-boton {
  background-color: #f52a1d;
  color: white;
  font-weight: bold;
}
#proyectos-destacados-soho .proyecto3 .proyecto-info {
  margin-left: 5%;
}
/*-----------------------
 CLIENTES
-------------------------*/
#clientes-soho {
  padding: 120px 0 0 0;
  color: white;
  text-align: center;
}
#clientes-soho h2 {
  margin: 0 0 70px 0;
}
#clientes-soho .cliente {
  background-position: center center, center center;
  background-size: cover, cover;
  padding: 200px 50px 25px;
}
#clientes-soho .testimonio {
  font-size: 24px;
  height: 150px;
  margin-bottom: 30px;
  line-height: 1.3;
  color: white;
}
#clientes-soho .autor {
  font-weight: bold;
  font-size: 15px;
  color: white;
}
#clientes-soho .cliente:nth-child(1) {
  background-image: linear-gradient(to bottom, rgba(121, 125, 134, 0.5) 0%, rgba(121, 125, 134, 0.5) 100%), url("../img/cristobal-fernandez.jpg");
}
#clientes-soho .cliente:nth-child(2) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/maria-paz-segers.jpg");
}
#clientes-soho .cliente:nth-child(3) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../img/renato-bascunan.jpg");
}
/*-----------------------
FOOTER
-------------------------*/
footer {
  background-color: black;
  color: white;
  padding: 30px 20px;
  font-size: 14px;
  position: relative;
}
footer:before {
  content: "";
  background: url(../img/puntero.svg) no-repeat center center;
  height: 40px;
  width: 30px;
  position: absolute;
  top: -20px;
  left: calc(50% - 15px);
}
footer .contacto {
  text-align: center;
}
footer .redes {
  text-align: right;
}
footer .contacto a {
  color: #02b400;
  margin-right: 40px;
}
footer .contacto a:last-child {
  margin-right: 0px;
}
footer .redes a {
  color: #02b400;
  margin-right: 20px;
}
footer .redes a:last-child {
  margin-right: 0px;
}
footer .redes a.facebook {
  color: #4f4db1;
}
footer .redes a.twitter {
  color: #10c3e1;
}
footer .redes a.linkedin {
  color: #3b79c2;
}
footer .redes a.youtube {
  color: #d96773;
}
/*----------------------------------------
------------------------------------------

TABLETS

------------------------------------------
----------------------------------------*/
@media (max-width: 768px) {
  /*-----------------------
HERO SECTION
-------------------------*/
  .navbar-collapse {
    background: black;
    z-index: 100;
  }
  #collapsibleNavbar .navbar-nav li.active {
    border-bottom: 0px solid #02B400;
    background: #02B400;
  }
  #collapsibleNavbar .navbar-nav li {
    margin-right: 0px;
  }
  #directo p {
    margin-bottom: 30px;
  }
  /*-----------------------
SERVICIOS
-------------------------*/
  #servicios-soho {
    padding: 40px 0 0 0;
    color: white;
    text-align: center;
  }
  #servicios-soho .servicio {
    padding: 40px 40px;
    margin: 50px 0 0 0;
  }
  #servicios-soho .servicio:nth-child(2) {
    margin: 0;
  }
  #servicios-soho .servicio:nth-child(3) {
    margin: 0;
  }
  /*-----------------------
PROYECTOS DESTACADOS
-------------------------*/
  #proyectos-destacados-soho {
    padding: 30px 0 0 0;
    color: white;
  }
  #proyectos-destacados-soho .proyecto {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;
  }
  #proyectos-destacados-soho .imagen-grande {
    width: 100%;
  }
  #proyectos-destacados-soho .proyecto-info {
    width: 100%;
    padding: 0 40px;
    margin-bottom: 20px;
  }
  #proyectos-destacados-soho .proyecto-info .imagen {
    margin-bottom: 20px;
  }
  /*Proyecto 1*/
  #proyectos-destacados-soho .proyecto1 {
    margin-top: 50px;
  }
  #proyectos-destacados-soho .proyecto1 .imagen-grande {
    order: 1;
  }
  #proyectos-destacados-soho .proyecto1 a.principal-boton {
    background-color: white;
    color: #233B85;
    font-weight: bold;
  }
  #proyectos-destacados-soho .proyecto1 .proyecto-info {
    margin-left: 0%;
  }
  /*Proyecto 2*/
  #proyectos-destacados-soho .proyecto2 {
    background-color: #c92d3b;
  }
  #proyectos-destacados-soho .proyecto2 a.principal-boton {
    background-color: white;
    color: #c92d3b;
    font-weight: bold;
  }
  #proyectos-destacados-soho .proyecto2 .proyecto-info {
    margin-left: 0%;
    margin-right: 0%;
  }
  /*Proyecto 3*/
  #proyectos-destacados-soho .proyecto3 {
    background-color: white;
  }
  #proyectos-destacados-soho .proyecto3 .proyecto-info {
    margin-left: 0%;
  }
  #proyectos-destacados-soho .proyecto3 .imagen-grande {
    order: 1;
  }
  /*-----------------------
 CLIENTES
-------------------------*/
  #clientes-soho {
    padding: 50px 0 0 0;
    color: white;
    text-align: center;
  }
  #clientes-soho h2 {
    margin: 0 0 50px 0;
  }
  #clientes-soho .cliente {
    background-position: center center, center center;
    background-size: cover, cover;
    padding: 80px 50px 50px;
  }
  #clientes-soho .testimonio {
    font-size: 24px;
    height: 70px;
    margin-bottom: 30px;
    line-height: 1.3;
    color: white;
  }
  #clientes-soho .autor {
    font-weight: bold;
    font-size: 15px;
    color: white;
  }
  #clientes-soho .cliente:nth-child(1) {
    background-image: linear-gradient(to bottom, rgba(121, 125, 134, 0.5) 0%, rgba(121, 125, 134, 0.5) 100%), url("../img/cristobal-fernandez.jpg");
    background-position: center center, center 25%;
  }
  #clientes-soho .cliente:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/maria-paz-segers.jpg");
    background-position: center center, top center;
  }
  #clientes-soho .cliente:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../img/renato-bascunan.jpg");
  }
  /*-----------------------
FOOTER
-------------------------*/
  footer .copyright {
    order: 1;
    text-align: center;
    margin-top: 20px;
  }
  footer .contacto {
    order: -1;
  }
  footer .redes {
    order: -1;
    text-align: center;
    margin-top: 20px;
  }
}
/*----------------------------------------
------------------------------------------

MÓVILES

------------------------------------------
----------------------------------------*/
@media (max-width: 560px) {
  h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 30px;
    line-height: 1.2;
  }
  h1 span {
    color: #02b400;
    display: block;
    font-size: 40px;
    text-shadow: 1px -1px 1px #02b400, 1px -1px 1px #02b400;
  }
  [id*=-soho] p {
    text-align: left;
  }
  /*-----------------------
HERO SECTION
-------------------------*/
  #hero-mensaje {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-90%);
    left: 50%;
  }
  #directo a {
    display: block;
    margin-top: 10px;
  }
  /*-----------------------
SERVICIOS
-------------------------*/
  #servicios-soho .servicio {
    padding: 40px 20px;
  }
  /*-----------------------
PROYECTOS
-------------------------*/
  #proyectos-destacados-soho .proyecto-info {
    padding: 0 20px;
  }
  /*-----------------------
CLIENTES
-------------------------*/
  #clientes-soho .testimonio {
    font-size: 20px;
    height: auto;
    margin-bottom: 30px;
    line-height: 1.3;
    color: white;
  }
}